@tailwind base;
@tailwind utilities;
@tailwind components;

/* Global body styles */
body {
  background-color: rgb(255, 255, 255);
  color: #111827; /* gray-900 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
